@import "./utils/variables.scss";
@import " ./utils/placeholders.scss";
@import "./utils/mixins.scss";
@import " ./utils/animations.scss";

.menu_header {
  display: flex;
  justify-content: space-between;
}
.menu_header_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header_return {
  text-align: left;
  padding-left: 1rem;
}
.logo_header {
  background: white;
  width: 160%;
  text-align: center;
  padding: 50px;
}
.fa-arrow-left {
  padding-right: 50px;
  font-size: xx-large;
  color: #333;
}
/*photo*/
.restaurants {
  display: flex;
  align-items: center;
  justify-content: center;
}
.restaurant_img {
  position: relative;
  object-fit: cover;
  width: 100%;
}
/*plats*/
.description_menu {
  background-color: #f3f3f3;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  padding-top: 30px;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
h1 {
  font-weight: 500;
  font-family: Shrikhand, "cursive";
  text-align: left;
  margin: 20px 0 0 20px;
}
svg:hover path {
  fill: #ff79da;
  stroke: none;
  -webkit-animation-name: color;
  animation-name: color;
}
@-webkit-keyframes color {
  from {
    color: #9356dc;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#ff79da),
      to(#9356dc)
    );
    background: linear-gradient(#ff79da, #9356dc);
    -webkit-transition: 2s 2s ease linear-gradient (#ff79da, #9356dc);
    -o-transition: 2s 2s ease linear-gradient (#ff79da, #9356dc);
    transition: 2s 2s ease linear-gradient (#ff79da, #9356dc);
  }
  to {
    color: #ff79da;
  }
}
@keyframes color {
  from {
    color: #9356dc;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#ff79da),
      to(#9356dc)
    );
    background: -o-linear-gradient(#ff79da, #9356dc);
    background: linear-gradient(#ff79da, #9356dc);
    -webkit-transition: 2s 2s ease linear-gradient (#ff79da, #9356dc);
    -o-transition: 2s 2s ease linear-gradient (#ff79da, #9356dc);
    transition: 2s 2s ease linear-gradient (#ff79da, #9356dc);
  }
  to {
    color: #ff79da;
  }
}
.heart_full {
  margin-top: 10px;
  height: 30px;
  position: relative;
  margin-right: 40px;
  stroke: black;
  stroke-width: 20px;
  cursor: pointer;
}
/*entrées*/

.menu {
  width: 100%;
  border-radius: 30px 30px 0 0;
  background-color: #f6f6f6;
}
.title_start {
  margin: 30px 20px;
  width: 100%;
}
.title {
  font-size: 25px;
  font-family: Roboto, sans-serif;
  font-weight: 100;
}
.title_underlined {
  width: 70px;
  border-top: 5px solid #99e2d0;
}
.starter {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  padding-bottom: 20px;
  background-color: #f3f3f3;
}
.starter_description {
  background-color: white;
  border-radius: 25px;
  width: 100%;
  box-shadow: 0 10px 10px #c3c3c3;
  margin: 20px 10px 0 0;
}
.starter_plate {
  min-width: 80%;
  max-width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  padding: 1%;
  font-size: larger;
  font-family: roboto, sans-serif;
  font-weight: 700;
  line-height: 0.7;
}
.starter_text {
  display: flex;
  margin-left: 20px;
  font-family: roboto, sans-serif;
}
p {
  margin: 10px 0 0 5px;
}
.starter_price {
  width: 50%;
  text-align: end;
  padding: 0 0 0 50px;
  font-weight: 600;
}
.price:hover {
  cursor: pointer;
}
.check {
  text-align: end;
  font-weight: 600;
}
/*commander*/
.command {
  display: flex;
  flex-direction: column;
  margin: 20px 50px;
}
.btn {
  display: inline-block;
  background: linear-gradient(#ff79da, #9356dc);
  text-decoration: none;
  cursor: pointer;
  border: 0;
  text-align: center;
  border-radius: 40px;
  font-size: 20px;
  color: #fff;
  box-shadow: 0 5px 15px 0 #c3c3c3;
  font-weight: bold;
  margin: 2rem 0 3.5rem 0;
  padding: 25px 30px;
  transition: 0.2s;
}
.btn:hover {
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 60%);
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 60%);
  background-color: white;
}
/*footer
.footer {
  background-color: #211e1ed9;
  color: #fff;
}
.logo_footer {
  color: #fff;
  margin: 30px;
  max-width: 150px;
}
.text_footer,
h4 {
  color: #fff;
  font-family: roboto, sans-serif;
  font-size: 1.4rem;
  margin: 0 10px;
  font-weight: 200;
  text-decoration: none;
  display: inline-block;
  padding: 0;
}
.list_footer {
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
}
h4 {
  padding: 10px;
}
.fas {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-decoration: none;
  padding: 10px;
  align-items: center;
  font-size: 1.5rem;
}
.icon_footer {
  color: white;
  margin-right: 15px;
  font-size: inherit;
}
.mail {
  color: white;
  text-decoration: none;
}
/*animation prix
.a:hover {
    .slide-left {
        -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
}
*/
