@import "./utils/_mixins.scss";
@import "./utils/_variables.scss";
@import "./utils/_animations.scss";
@import "./layouts/_header.scss";
@import "./layouts/_container.scss";
@import "./layouts/_footer.scss";
@import "./components/_booking.scss";
@import "./components/button.scss";
@import "./components/function.scss";
@import "./components/loadingspinner.scss";
@import "./components/photo.scss";

body {
  font-family: roboto, sans-serif;
}
/*localisation*/
#localisation {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #c3c3c352;
  font-size: 1.2rem;
  position: relative;
}
.map {
  padding: 8px 10px;
}
.localisation_title {
  font-weight: 700;
}

/* style_menu*/
.title_menu {
  font-family: shrikhand, sans-serif;
  font-size: 15px;
}
