/* ----------------------------------------
 * animation check
 * ----------------------------------------
 */
.menu_text:hover .checkbox {
  display: block;
  flex: 0 0 60px;
  background: #99e2d0;
  overflow: hidden;
}
.checkbox {
  animation: slide-left ease 1000ms width 2;
}
@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-20px);
  }
}
/**
 * ----------------------------------------
 * animation rotate-center on check
 * ----------------------------------------
 */
.check {
  -webkit-animation: rotate-center 0.8s ease-in-out alternate-reverse both;
  animation: rotate-center 0.8s ease-in-out alternate-reverse both;
}
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0), scaleX(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg), scaleX(5);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0), scaleX(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg), scaleX(5);
  }
}
/* ----------------------------------------
 * animation fade entrées, plats, desserts
 * ----------------------------------------
 */
.fade-1 {
  animation: fadeIn 0.4s;
}

.fade-2 {
  animation: fadeIn 0.8s;
}

.fade-3 {
  animation: fadeIn 1.2s;
}

.fade-4 {
  animation: fadeIn 1.6s;
}

.fade-5 {
  animation: fadeIn 2s;
}

.fade-6 {
  animation: fadeIn 2.4s;
}

.fade-7 {
  animation: fadeIn 2.8s;
}

.fade-8 {
  animation: fadeIn 3.2s;
}

.fade-9 {
  animation: fadeIn 3.6s;
}

.fade-10 {
  animation: fadeIn 4s;
}

.fade-11 {
  animation: fadeIn 4.4s;
}

.fade-12 {
  animation: fadeIn 4.8s;
}

.fade-13 {
  animation: fadeIn 5.2s;
}

.fade-14 {
  animation: fadeIn 5.6s;
}

.fade-15 {
  animation: fadeIn 6s;
}
