/* ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
.check {
  -webkit-animation: slide-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) linear
    1s both;
  animation: slide-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) linear 1s both;
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}
/* ----------------------------------------
 * animation check
 * ----------------------------------------
 */
.menu_text:hover .checkbox {
  display: block;
  flex: 0 0 15%;
  background: #99e2d0;
  max-width: 60px;
  overflow: hidden;
  animation: slide-left ease 0.3s;
  animation-fill-mode: forwards;
  transform-origin: 50% 50%;
  transition-property: transform;
}
.check {
  transform: rotate(360deg);
  transition-duration: 0.8s;
  width: 35px;
}

/* ----------------------------------------
 * animation fade entrées, plats, desserts
 * ----------------------------------------
 */
.fade-1 {
  animation: fadeIn 0.4s;
}

.fade-2 {
  animation: fadeIn 0.8s;
}

.fade-3 {
  animation: fadeIn 1.2s;
}

.fade-4 {
  animation: fadeIn 1.6s;
}

.fade-5 {
  animation: fadeIn 2s;
}

.fade-6 {
  animation: fadeIn 2.4s;
}

.fade-7 {
  animation: fadeIn 2.8s;
}

.fade-8 {
  animation: fadeIn 3.2s;
}

.fade-9 {
  animation: fadeIn 3.6s;
}

.fade-10 {
  animation: fadeIn 4s;
}

.fade-11 {
  animation: fadeIn 4.4s;
}

.fade-12 {
  animation: fadeIn 4.8s;
}

.fade-13 {
  animation: fadeIn 5.2s;
}

.fade-14 {
  animation: fadeIn 5.6s;
}

.fade-15 {
  animation: fadeIn 6s;
}
