/* quand on n'a pas de paramètres
ex:  
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
donc dans le css, rien ne se répète, ça met une virgule automatiquement entre chaque élément
    