body {
  opacity: 1;
}
.spin-container {
  text-align: center;
  margin-top: 400px;
  animation: spinloader 5s;
  animation-delay: 3s;
  animation-fill-mode: both;
  background: rgba(248, 226, 248, 0.6);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
}
.spin {
  border: 3px solid $color-second-rose;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  overflow: hidden;
  animation: rotate 5s cubic-bezier(0.26, 1.36, 0.74, -0.29) forwards;
}
#loader2 {
  border: 3px solid $color-first-violet;
  width: 220px;
  height: 220px;
  position: relative;
  top: -216px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 5s cubic-bezier(0.26, 1.36, 0.74, -0.29) forwards;
}
#loader3 {
  border: 3px solid $color-second-rose;
  width: 240px;
  height: 240px;
  position: relative;
  top: -452px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 5s cubic-bezier(0.26, 1.36, 0.74, -0.29) forwards;
}
#loader4 {
  border: 3px solid $color-first-violet;
  width: 260px;
  height: 260px;
  position: relative;
  top: -708px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 5s cubic-bezier(0.26, 1.36, 0.74, -0.29) forwards;
}
@keyframes rotate {
  0% {
    transform: rotateZ(-360deg);
    visibility: visible;
    opacity: 0.9;
  }
  100% {
    transform: rotateZ(0deg);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes rotate2 {
  0% {
    transform: rotateZ(360deg);
    visibility: visible;
    opacity: 0.9;
  }
  100% {
    transform: rotateZ(0deg);
    opacity: 0;
    visibility: hidden;
  }
}
#text1,
#text2,
#text3 {
  font-family: shrikhand, sans-serif;
  font-size: 40px;
  position: relative;
  top: -857px;
  animation: fade 6s forwards;
}
@keyframes fade {
  0% {
    visibility: visible;
    opacity: 0.9;
  }
  50% {
    visibility: visible;
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
#text1 {
  color: black;
}
#text2 {
  color: $color-second-rose;
}
#text3 {
  color: $color-first-violet;
}
