.loader {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  animation: spinloader 5s forwards;
  z-index: 2;
  background-color: #333;
}
.spin-container {
  text-align: center;
  animation-delay: 1s;
  animation-fill-mode: both;
}
.spin {
  border: 3px solid $color-second-rose;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 5s cubic-bezier(0.26, 1.36, 0.74, -0.29) forwards;
}
#loader2 {
  border: 3px solid $color-first-violet;
  width: 220px;
  height: 220px;
  margin-top: -216px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 5s cubic-bezier(0.26, 1.36, 0.74, -0.29) forwards;
}
#loader3 {
  border: 3px solid $color-second-rose;
  width: 240px;
  height: 240px;
  margin-top: -236px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 5s cubic-bezier(0.26, 1.36, 0.74, -0.29) forwards;
}
#loader4 {
  border: 3px solid $color-first-violet;
  width: 260px;
  height: 260px;
  margin-top: -256px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 5s cubic-bezier(0.26, 1.36, 0.74, -0.29) forwards;
}
@keyframes rotate {
  0% {
    transform: rotateZ(-360deg);
    visibility: visible;
    opacity: 0.9;
  }
  50% {
    transform: rotateZ(-180deg);
    visibility: visible;
    opacity: 0.5;
  }
  100% {
    transform: rotateZ(0deg);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes rotate2 {
  0% {
    transform: rotateZ(360deg);
    visibility: visible;
    opacity: 0.9;
  }
  50% {
    transform: rotateZ(180deg);
    visibility: visible;
    opacity: 0.5;
  }
  100% {
    transform: rotateZ(0deg);
    opacity: 0;
    visibility: hidden;
  }
}

#text1,
#text2,
#text3 {
  font-family: shrikhand, sans-serif;
  font-size: 40px;
  height: 60px;
  width: 60px;
  animation: fade 6s forwards;
}
@keyframes fade {
  0% {
    visibility: visible;
    opacity: 0.9;
  }
  50% {
    visibility: visible;
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
#text1,
#text3 {
  color: $color-first-violet;
}
#text2 {
  color: $color-second-rose;
}

@keyframes spinloader {
  0% {
    width: 100vw;
    height: 100vh;
  }
  99.99% {
    width: 100vw;
    height: 100vh;
  }
  100% {
    height: 0vh;
  }
}
