/*container  of each menus */
.menu {
  background: #f6f6f6;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: -50px;
  position: relative;
}
.menu_summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px 0 10px;
}
h1 {
  font-size: 1.5em;
  line-height: 1;
  font-weight: bold;
}
.menu_title {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  padding: 20px 0 20px 20px;
  text-align: left;
}
.menu_plats {
  padding: 10px;
}
.sub_title {
  margin: 20px 5px;
  font-size: 18px;
  font-weight: 100;
  text-align: left;
}
@media only screen and (min-width: 769px) {
  .sub_title {
    padding: 15px 0 15px 15px;
  }
}
.sub_title:after {
  content: "";
  border-bottom: 5px solid #99e2d0;
  display: block;
  padding-top: 3px;
  width: 40px;
}
@media screen and (min-width: 769px) {
  .sub_title:after {
    content: "";
    border-bottom: 5px solid #99e2d0;
    display: block;
    padding-top: 3px;
    width: 50px;
  }
}
.menu_title_price,
h4,
.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.name {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}
h4 {
  color: #333;
  font-weight: normal;
  margin: 0;
}
.menu_title_price {
  /*width: 80%;*/
  padding: 10px;
}

.menu_text {
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 5px 15px 0 #c3c3c3;
  margin: 10px 0;
  flex: 1 0 33%;
  overflow: hidden;
  width: auto;
}
@media only screen and (min-width: 1024px) {
  .menu_text {
    flex: 25%;
    margin-left: 15px;
  }
}
.menu_text:hover {
  box-shadow: 0 5px 15px 0 #9d9d9d;
  width: 30%;
}
.menu_text .price_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  font-weight: bold;
  margin-top: 18px;
  padding-right: 10px;
  text-align: right;
}
.menu_text .checkbox {
  display: none;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  color: $color-third-turquoise;
}
.menu_text .check {
  font-size: 24px;
  color: #fff;
  margin: 15px;
}
