//header des 4 menus//
.menu_header {
  display: flex;
  justify-content: space-between;
  &_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &_return {
    text-align: left;
    padding-left: 1rem;
  }
}
.logo_header {
  background: white;
  width: 160%;
  text-align: center;
  padding: 50px;
}
.fa-arrow-left {
  padding-right: 50px;
  font-size: xx-large;
  color: #333;
}
