//header 4 menus//
.menu_header {
  display: flex;
  justify-content: space-between;
  &_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &_return {
    text-align: left;
    padding-left: 1rem;
  }
}
.fa-arrow-left {
  padding-right: 50px;
  font-size: xx-large;
  color: #333;
}
.fas {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-decoration: none;
  align-items: center;
  font-size: 1.5rem;
}
.logo_header {
  font-family: "Shrikhand", cursive;
  color: black;
  margin-left: 50px;
}
@media screen and (min-width: 1024px) {
  .logo_header {
    margin: 20px;
  }
}
