body,
html {
  opacity: 1;
}
.spin-container {
  text-align: center;
  margin-top: 400px;
}
.spin {
  border: 3px solid $color-second-rose;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;

  overflow: hidden;
  animation: rotate 4s cubic-bezier(0.26, 1.36, 0.74, -0.29) forwards;
}
#loader2 {
  border: 3px solid $color-first-violet;
  width: 220px;
  height: 220px;
  position: relative;
  top: -216px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 4s cubic-bezier(0.26, 1.36, 0.74, -0.29) forwards;
}
#loader3 {
  border: 3px solid $color-second-rose;
  width: 240px;
  height: 240px;
  position: relative;
  top: -452px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 4s cubic-bezier(0.26, 1.36, 0.74, -0.29) forwards;
}
#loader4 {
  border: 3px solid $color-first-violet;
  width: 260px;
  height: 260px;
  position: relative;
  top: -708px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 4s cubic-bezier(0.26, 1.36, 0.74, -0.29) forwards;
}
@keyframes rotate {
  0% {
    transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
#text1,
#text2,
#text3 {
  font-family: shrikhand, sans-serif;
  font-size: 40px;
  position: relative;
  top: -857px;
}
#text1 {
  color: black;
}
#text2 {
  color: $color-second-rose;
}
#text3 {
  color: $color-first-violet;
}
